<div id="vsto-communities">
    <div id="centereddiv">
        <h2>Welcome to the Virtual Solar Terrestrial Observatory</h2>
        <p>The following projects and communities are currently represented within the Virtual Solar Terrestrial Observatory:</p>
        <ul>
            <li><a href="http://cedarweb.hao.ucar.edu" target="_blank">CEDAR</a>: Coupling, Energetics and Dynamics of Atmospheric Regions</li>
            <li><a href="http://www2.hao.ucar.edu/mlso/mlso-home-page" target="_blank">MLSO</a>: Mauna Loa Solar Observatory</li>
        </ul>
    </div>
</div>