<div id="vsto-data">
    <div class="centereddiv" id="centereddiv">
        <h2 align="center">Accessing Data in the Virtual Solar Terrestrial Observatory</h2>
        <p>Please select a starting point:</p>
        <ul>
            <li><a href="{{root_dir}}/request?select=instrument">Choose an instrument</a></li>
            <li><a href="{{root_dir}}/request?select=date">Choose dates</a></li>
            <li><a href="{{root_dir}}/request?select=parameter">Choose physical parameters</a></li>
        </ul>
        <p>Data from the CEDAR archive is available in OPeNDAP or ASCII format. A few parameters can be plotted versus time and height. Data from the MLSO archive is available as PG or FITS images.</p>
        <p>Before downloading data from the CEDAR database, users are required to agree to the <a href="/vsto/security/registration.php">Rules of the Road</a>, which entitles them to a VSTO login. No login is necessary to plot CEDAR data, or to access MLSO data.</p>
        <!--
        <h3>VSTO as a Web Service</h3>
        <p>VSTO can also be queried programmatically as a web service using the Web Services Description Language (WSDL). More information on using VSTO's WSDL query interface can be found <a href="/vsto/querying.php">here</a>.</p>
        -->
    </div>
    <div id="request-instrument">
    </div>
</div>