<div id="vsto-home">
    <div id="acknowledge">
        <h4>Acknowledgements</h4>
        <a href="http://www.hao.ucar.edu/"><img src="{{root_dir}}/images/hao.jpg" width="100" border="0"/><p>ESSL/HAO</p></a><br/>
        <a href="http://www.cisl.ucar.edu/"><p>CISL/SCD</p></a><br/>
        <a href="http://www.ncar.ucar.edu/"><img src="{{root_dir}}/images/ncar.jpg" width="100" border="0"/><p>NCAR</p></a>
        <h4>In collaboration with:</h4>
        McGuinness Associates<br/>
        <h4>Funded by:</h4>
        <a href="http://www.nsf.gov/"><img src="{{root_dir}}/images/nsf1.gif" width="100" border="0"/><p>NSF</p></a>
    </div>
    <div class="centereddiv" id="centereddiv">
        <h2>Welcome to the Virtual Solar Terrestrial Observatory</h2>
        <p>The Virtual Solar Terrestrial Observatory (VSTO) is a unified semantic environment serving data from diverse data archives in the fields of solar, solar-terrestrial, and space physics (SSTSP), currently:</p>
        <ul>
            <li>Upper atmosphere data from the CEDAR (Coupling, Energetics and Dynamics of Atmospheric Regions) archive</li>
            <li>Solar corona data from the MLSO (Mauna Loa Solar Observatory) archive</li>
        </ul>
        <center><a href="{{root_dir}}/data.php"><strong>Request Data from VSTO</strong></a></center>
        <p>The VSTO portal uses an underlying ontology (i.e. an organized knowledge base of the SSTSP domain) to present a general interface that allows selection and retrieval of products (ascii and binary data files, images, plots) from heterogenous external data services. More detailed information is available on the <a href="/vsto/ontology.php">About the VSTO ontology</a> page.</p>
    </div>
</div>