<div id="vsto-login">
    <div id="centereddiv">
        <br/><br/><br/>
        <table width="100%">
            <tr><td width="auto">&nbsp;</td>
                <td width="300px" cellpadding="4px" style="background-color: #8dcdff; border: 4px #aaa ridge; padding:10px;">
                    <h2 align="center">Login to VSTO</h2>
                    <form>
                        <table width="100%">
                            <tr>
                                <td>&nbsp;</td><th>Username:</th><td><input type="text"/></td><td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td><th>Password:</th><td><input type="password"/></td><td>&nbsp;</td>
                            </tr>
                            <td>&nbsp;</td><td colspan="2" align="center"><input type="submit" value="Login"/></td><td>&nbsp</td>
                        </table>
                        <p>Forgot your password? <a href="retrieve.php">Click here</a></p>
                    </form>
                </td><td width="30px">
                    &nbsp;
                </td><td width="300px" style="background-color: #8dcdff; padding: 10px; border: 4px #aaa ridge;">
                    <h2 align="center">New User?</h2>
                    <p align="center">Please fill out the <a href="newuser.php">New User Form</a></p>
                </td><td width="auto">&nbsp</td>
            </tr></table>
        </table>
    </div>
</div>