---
title: VSTO Ontology
---

<div id="vsto-ontology">
  <div class="centereddiv" id="centereddiv">
    <h2>The VSTO Ontology</h2>
    <p>The VSTO Ontology is the backbone of the VSTO portal, which provides data access services to both the CEDAR and MLSO archives.</p>
    <p align="center"><img src="{{root_dir}}/images/vsto_ontology.png"/></p>
    <p>Four ontologies comprise the current language used to describe VSTO and its data (with links to OWL descriptions):</p>
    <ul>
    <li><a href="https://vsto.org/schema">VSTO Ontology</a>: Container ontology, including the three below.</li>
    <li><a href="https://vsto.org/cedar">CEDAR Ontology</a>: CEDAR-specific instances for the upper atmosphere domain.</li>
    <li><a href="https://vsto.org/mlso">MLSO Ontology</a>: MLSO-specific instances for the solar corona domain.</li>
    </ul>
    <p>The following picture shows the VSTO ontology when opened with <a href="http://protege.stanford.edu/">Protege</a>, and superimposes a <em>neighborhood diagram</em> created with the <a href="http://www.thechiselgroup.org/~chisel/projects/jambalaya/jambalaya.html">Jambalaya</a> plugin.</a>
    <a href="{{root_dir}}/images/vsto_ontology_protege.png"><img src="{{root_dir}}/images/vsto_ontology_protege.png" width="760" border="0"/></a>
  </div>
</div>
