---
title: VSTO Data Selection
---

<div class="centereddiv">
    <div class="request-buttons">
        <div class="button-div"><a class="vsto-button continue-button" id="continue-button" onclick="continueOn();">Continue</a></div>
        <div class="button-div"><a class="vsto-button back-button" id="back-button" onclick="goBack();">Back</a></div>
        <div class="button-div"><a class="vsto-button cancel-button" id="cancel-button" onclick="cancelSelect();">Cancel</a></div>
    </div>
    <div id="request-selection" class="request-selection">
        <div id="request-error" class="request-error"></div>
        <div id="loading" class="loading">Loading ... please wait</div>
        <div id="current-selection" class="current-selection"></div>
        <div id="instrument-list" class="instrument-list"></div>
        <div id="year-list" class="year-select"></div>
        <div id="month-list" class="month-select"></div>
        <div id="day-list" class="day-select"></div>
        <div id="parameter-list" class="parameter-select"></div>
        <div id="opendap-list" class="opendap-select"></div>
    </div>
</div>

<script>
    $(document).ready(function() {
        loadData(null);
    });
</script>

